body {
  min-width: 320px;
  margin: 0;
  font-family: 'Playfair display', serif;
}

.display-flex {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.left-container {
  max-width: 900px;
}

.right-container {
  text-align: right;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
}

.small-font {
  font-size: 0.5rem;
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__title {
  color: blue;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}