body {
  min-width: 320px;
  margin: 0;
  font-family: 'Playfair display', serif;
}

.section-two {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.section-two > * {
  width: 100%;
}

.display-flex {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}

.display-flex-row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: row;
}

.left-container {
  max-width: 900px;
}

.right-container {
  text-align: right;
}

.large-font {
  font-size: 2.5rem;
}

.medium-font {
  font-size: 1.5rem;
}

.small-font {
  font-size: 0.5rem;
}

.results-list {
  max-width: 550px;
}

.card__container {
  perspective: 30px;
}

.inner-border{
  transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  box-shadow: 2px 2px 50px rgba(10, 10, 10, 0.2);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Playfair display', serif;
}

.cards__item {
  display: flex;
  padding: 1rem;
  /* @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  } */
  width: 100%;
}

.card {
  background-color: grey;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* width: 550px; */
  width: 100%;
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
}

.card-button {
  margin: auto;
  max-width: 200px;
  background-color: black;
  color: white;
  border-radius: 2px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.15);
}

.card-button:hover {
  border: 1px solid black;
  background-color: transparent;
  color: black;
  transition: all ease-in-out 400ms;
}